:root {
    --primary-color:#df1024;
    --grey-color:#dcd6d8;
    --purple-color:#625a67;
    --black-color:#302b31;
    --white-color:#ffffff;
    --box-shadow: 0px 2px 5px 0px rgba(224, 224, 224, 1);
    --pt: 80px;
    --pb: 80px;
  }