@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Satisfy:wght@100;200;300;400;500;600;700;800;900&&display=swap');

@import 'variables.css';

/* General Css */
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-size: 18px;
  line-height: 28px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #333;
  background-color: var(--secondary-color);
}

ol,
ul {
  list-style: none
}

blockquote,
q {
  quotes: none;
  margin: 0;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

img {
  max-width: 100%;
}

::selection {
  color: var(--primary-color);
  background-color: var(--white-color);
}

a {
  transition: ease-in-out 0.3s;
  color: var(--primary-color);
}

a:hover {
  text-decoration: none;
}

button:focus,
a:focus {
  outline: none;
}

.form-control:focus,
.btn.focus,
.btn:focus {
  box-shadow: none
}

.container {
  max-width: calc(100% - 50px);
  margin: 0 auto;
}


/* reuse code */
.common-button {
  padding: 3px 20px;
  width: 130px;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  text-transform: capitalize;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  z-index: 1;
  overflow: hidden;
  -webkit-box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  color: var(--white-color);
  letter-spacing: 1px;
}

.common-button:hover {
  color: var(--primary-color);
}

.common-button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: auto;
  height: 0;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  background: var(--white-color);
  z-index: -1;
}

.common-button:hover::after {
  height: 100%;
  bottom: auto;
  top: 0;
}

.outline-btn {
  padding: 3px 30px;
  line-height: 46px;
  display: inline-block;
  background: #eb315a;
  text-transform: capitalize;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  position: relative;
  z-index: 1;
  overflow: hidden;
  -webkit-box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  letter-spacing: 1px;
}

.outline-btn:hover {
  color: #fff !important;
  text-decoration: none;
  background-color: transparent !important;
  border: 1px solid #fff;
}

.btn span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 10000;
  transition: 0s ease-in;
  opacity: 1;
  color: #fff;
}

.btn-border {
  position: relative;
  width: 140px;
  height: 40px;
  text-align: center;
  background: transparent;
  margin: 0px;
  text-transform: uppercase;
  line-height: 39px;
  color: #ffff;
  text-decoration: none;
  font-size: 13.2px;
  font-weight: 500;
  overflow: hidden;
  align-items: center;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transiton: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  border: 1px solid #fff;
  cursor: pointer;
}



.btn-border:hover {
  background-color: #fff;
  color: #000;
}

p {
  font-size: 1.8rem;
  line-height: 1.7em
}

.mt-55 {
  margin-top: 55px;
}

.mb-55 {
  margin-bottom: 55px;
}

.pt-55 {
  padding-top: 55px;
}

.pb-55 {
  padding-bottom: 55px;
}



.pt-310 {
  padding-top: 310px;
}

.pt-150 {
  padding-top: 80px;
}


/* scrollbar style start */
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--grey-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}

/* scrollbar style end */

/* style start */
header {
  width: 100%;
  left: 0;
  top: 0;
  padding: 20px 0;
  background-color: transparent !important;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  transition: all 0.5s ease-in-out;
}

 .nav-up {
  position: fixed;
  padding: 20px 0;
}

header.nav-down {
  position: fixed;
  top: 0;
  background: var(--black-color) !important;
  padding: 10px 0;
}

header.shadow-head {
  width: 100%;
  -webkit-box-shadow: var(--box-shadow);
  -moz-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}


.logo {
  width: 220px;
  object-fit: cover;
}

header.fix-header {
  position: fixed;
  padding: 0;
  top: 0;
  transition: ease-in-out 0.6s;
  z-index: 99;
}

.logo a {
  transition: ease-in-out 0.6s;
}



.fix-header .logo a {
  width: 100px;
}



.header-content {
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  display: flex;
}



.header-content .header-right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


/* zeynepjs menu styles */
.zeynep {
  position: relative;
  overflow: unset;
  transform: unset;
  top: unset;
  bottom: unset;
  pointer-events: unset;
}

.zeynep nav ul {
  display: flex;
  column-gap: 30px;
  position: relative;
}

.zeynep ul>li {
  display: block;
}

.zeynep ul>li>a {
  font-size:16px;
  line-height: 3rem;
  color: var(--white-color);
  font-weight: 400;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.zeynep ul>li>a {
  display: inline-block;
}



.zeynep ul>li>a:hover {
  color: var(--primary-color);
}



.zeynep ul>li>a::after {
  content: '';
  position: absolute;
  border-bottom: 3px solid var(--primary-color);
  width: 0px;
  text-align: center;
  left: 0px;
  bottom: -8px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

.zeynep ul>li>a:hover::after {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.header-myacount {
  margin-left: 25px;
  position: relative;
}

.header-content .header-right .first {
  display: block;
  outline: none;
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  display: none;
}

.header-content .header-right .first span {
  width: 20px;
  height: 1px;
  display: block;
  position: relative;
  font-weight: 500;
}

.header-content .header-right .first span:nth-child(2) {
  width: 18px;
  left: 2px;
}

.zeynep .close-btn {
  display: none;
}

.zeynep li.active a {
  color: var(--primary-color);
  position: relative;
}

.header-content .header-right .first span {
  width: 20px;
  height: 1px;
  display: block;
  background: var(--white-color);
  position: relative;
  font-weight: 500;
}

.zeynep li.active a::after {
  content: '';
  position: absolute;
  border-bottom: 3px solid var(--primary-color);
  width: 100%;
  text-align: center;
  left: 0px;
  bottom: -8px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

/* home page style start */

.title-banner {
  padding: 170px 0px 160px;
  position: relative;
  background: url('../images/web-development-banner.jpg') no-repeat top center;
  height: 100vh;
  background-size: cover;
}

.banner-description {
  margin-top: 0px;
}

.banner-description h1 {
  font-size: 35px;
  font-weight: 600;
  color: var(--white-color);
  margin-bottom: 5px;
}

.type-writer-animation {
  display: flex;
  column-gap: 10px;
}

.type-writer-animation span.typed-cursor {
  cursor: pointer;
}

.type-writer-animation p {
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
  color: var(--black-color);
}

.type-writer-animation p span.typed-text {
  font-weight: normal;
  color: var(--primary-color);
  font-weight: bold;
}

.type-writer-animation p span.cursor {
  display: inline-block;
  background-color: var(--white-color);
  margin-left: 0.1rem;
  width: 1px;
  animation: blink 1s infinite;
}

.type-writer-animation p span.cursor.typing {
  animation: none;
}

@keyframes blink {
  0% {
    background-color: #ccc;
  }

  49% {
    background-color: #ccc;
  }

  50% {
    background-color: transparent;
  }

  99% {
    background-color: transparent;
  }

  100% {
    background-color: #ccc;
  }
}

.hireme-button {
  margin-top: 30px;
  margin-bottom: 30px;
}

.banner-description a img {
  width: 20px;
  margin-left: 15px;
}

.banner-description {
  margin-bottom: 10px;
}

.banner-description p {
  color: var(--white-color);
  margin-bottom: 10px;
}

.title-banner .main-top-banner-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -o-object-fit: cover;
  object-fit: cover;
}

.banner-scroll {
  position: absolute;
  left: 15px;
  width: 30px;
  height: 50px;
  border: 2px solid var(--white-color);
  border-radius: 15px;
}

.banner-arrow-down {
  padding-top: 50px;
  width: 100%;
  height: 100%;
}

.banner-arrow-down span {
  display: block;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid var(--white-color);
  border-right: 2px solid var(--white-color);
  transform: rotate(45deg);
  position: absolute;
  top: 40%;
  left: 50%;
  margin: -8px 0 0 -5px;
  animation: scroll 2s infinite;
}


.banner-arrow-down span:nth-child(2) {
  animation-delay: -0.2s;
}

.banner-arrow-down span:nth-child(3) {
  -webkit-animation-delay: -.4s;
  animation-delay: -.4s;
}

@keyframes scroll {

  0%,
  100% {
    transform: translateY(0) rotate(45deg);
    opacity: 0;
  }

  50% {
    transform: translateY(10px) rotate(45deg);
    opacity: 1;
  }
}

/* banner animation */
.round-shape-one {
  width: 20px;
  height: 20px;
  border: 3px solid var(--primary-color);
  border-radius: 50%;
  position: absolute;
  top: 5%;
  left: 100%;
  z-index: 99;
  animation: animationFramesOne 15s infinite linear;
}

.round-shape-two {
  width: 20px;
  height: 20px;
  border: 3px solid var(--primary-color);
  border-radius: 50%;
  position: absolute;
  top: 100%;
  right: 35%;
  z-index: 99;
  animation: animationFramesOne 15s infinite linear;
}

.round-shape-three {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 3px solid var(--white-color);
  border-radius: 50%;
  bottom: 5%;
  left: 20%;
  z-index: 99;
  animation: animationFramesTwo 15s infinite linear;
}

.shape-three {
  position: absolute;
  bottom: 0%;
  left: 41%;
  z-index: 99;
  animation: rotation 6s linear infinite;
}

@-webkit-keyframes animationFramesOne {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
  }

  20% {
    -webkit-transform: translate(73px, -1px) rotate(36deg);
  }

  40% {
    -webkit-transform: translate(141px, 72px) rotate(72deg);
  }

  60% {
    -webkit-transform: translate(83px, 122px) rotate(108deg);
  }

  80% {
    -webkit-transform: translate(-40px, 72px) rotate(144deg);
  }

  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
  }
}

@keyframes animationFramesTwo {
  0% {
    transform: translate(0px, 0px) rotate(0deg) scale(1);
  }

  20% {
    transform: translate(73px, -1px) rotate(36deg) scale(0.9);
  }

  40% {
    transform: translate(141px, 72px) rotate(72deg) scale(1);
  }

  60% {
    transform: translate(83px, 122px) rotate(108deg) scale(1.2);
  }

  80% {
    transform: translate(-40px, 72px) rotate(144deg) scale(1.1);
  }

  100% {
    transform: translate(0px, 0px) rotate(0deg) scale(1);
  }
}


@-webkit-keyframes animationFramesTwo {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1);
  }

  20% {
    -webkit-transform: translate(73px, -1px) rotate(36deg) scale(0.9);
  }

  40% {
    -webkit-transform: translate(141px, 72px) rotate(72deg) scale(1);
  }

  60% {
    -webkit-transform: translate(83px, 122px) rotate(108deg) scale(1.2);
  }

  80% {
    -webkit-transform: translate(-40px, 72px) rotate(144deg) scale(1.1);
  }

  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1);
  }
}


@keyframes animationFramesThree {
  0% {
    transform: translate(165px, -179px);
  }

  100% {
    transform: translate(-346px, 617px);
  }
}


@-webkit-keyframes animationFramesThree {
  0% {
    -webkit-transform: translate(165px, -179px);
  }

  100% {
    -webkit-transform: translate(-346px, 617px);
  }
}



/* waves */
.ocean {
  height: 80px;
  /* change the height of the waves here */
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
}

.wave {
  background: url("../images/wave.svg");
  position: absolute;
  width: 200%;
  height: 100%;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
}

.wave:nth-of-type(2) {
  bottom: 0;
  animation: wave 18s linear reverse infinite;
  opacity: 0.5;
}

.wave:nth-of-type(3) {
  bottom: 0;
  animation: wave 20s -1s linear infinite;
  opacity: 0.5;
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(-50%);
  }
}


/* home page style end */
/* about us section start */
.about-sec {
  padding-top: var(--pt);
  padding-bottom: var(--pb);
  position: relative;
}

.about-sec::before {
  content: "";
  position: absolute;
  top: 69px;
  right: 55px;
  background: url("../images/yellow-line.png") no-repeat top right;
  background-size: 50% 25%;
  height: 300px;
  width: 300px;
}

.about-sec::after {
  content: "";
  position: absolute;
  bottom: 70px;
  right: 70px;
  background: url("../images/about-circle-and-poly-content.png") no-repeat bottom right;
  background-size: 34% 30%;
  height: 220px;
  width: 220px;
}

.about-us-image {
  position: relative;
}

.about-us-image img {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 100%;
  border-radius: 5px;
}

.about-us-image i {
  position: absolute;
  bottom: 0;
  right: -19px;
  background: #ffff;
  padding: 15px;
  font-size: 21px;
  border-radius: 100%;
  box-shadow: var(--box-shadow);
  color: var(--primary-color);
}

.about-us-image::before {
  content: "";
  position: absolute;
  bottom: -42px;
  left: 317px;
  background-size: cover;
  height: 130px;
  width: 130px;
  z-index: -1;
  background: url('../images/dots-image.png') no-repeat;
  background-size: cover;
}

.work-exeperiance {
  background-color: var(--white-color);
  padding: 15px 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow:var(--box-shadow);
}
.exeperiance-logo{
  height:auto;
  min-height:67px;
}
.exeperiance-logo img{ 
  width:80%;
}

.exeperiance-description h6 {
  color: var(--primary-color) !important;
  font-weight: bold;
  font-size: 16px !important;
  padding-bottom: 5px !important;
  letter-spacing: 1px;
}

.exeperiance-description span {
  color: var(--black-color) !important;
  font-size: 14px !important;
  display: block;
}

.exeperiance-description p {
  color:var(--black-color) !important;
  font-size:14px !important;
}


.social-icon {
  padding-top: 10px;
}

.social-icon strong {
  color: var(--primary-color);
  display: block;
  padding-bottom: 10px;
}

.social-icon ul {
  display: flex;
  align-items: center;
  column-gap: 5px;
  margin: 0 auto;
}

.social-icon ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: var(--yellow);
  transition: all 0.4s ease-in-out;
  border: 1.5px solid transparent;
  transform: scale(1);
}

.footer-social .social-icon ul li {
  height: 45px;
  width: 45px;
}

.about-us-text {
  padding-left: 70px;
  padding-top: 40px;
}

.about-us-text h6 {
  color: var(--black-color);
  font-weight: bold;
  font-size: 26px;
  padding-bottom: 15px;
  letter-spacing: 1px;
}

.about-us-text p {
  color: var(--black-color);
  font-size: 16px;
  line-height: 1.5em;
  padding-bottom: 20px;
  max-width: 774px;
  text-transform: capitalize;
  font-weight: 400;
}

.about-us-text span {
  color: var(--black-color);
  font-size: 16px;
}

/* about us section end */
/* service section style start */
.we-offer-area {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--black-color) url('../images/bg-6.png');
}

.site-heading h2 {
  display: block;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-size: 26px;
  color: var(--white-color);
}

.site-heading h2 span {
  color: var(--primary-color);
}

.site-heading h4 {
  display: inline-block;
  padding-bottom: 12px;
  position: relative;
  text-transform: capitalize;
  z-index: 1;
  color: var(--white-color);
  font-weight: 300;
  font-size: 15px;
}

.site-heading h4::before {
  background: var(--primary-color) none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 50px;
}

.site-heading {
  margin-bottom: 35px;
  overflow: hidden;
  margin-top: -5px;
}

.carousel-shadow .owl-stage-outer {
  margin: -15px -15px 0;
  padding: 15px;
}

.we-offer-area .our-offer-carousel .owl-dots .owl-dot span {
  background: var(--white-color) none repeat scroll 0 0;
  border: 2px solid;
  height: 15px;
  margin: 0 5px;
  width: 15px;
}

.we-offer-area .our-offer-carousel .owl-dots .owl-dot.active span {
  background: var(--primary-color) none repeat scroll 0 0;
  border-color: var(--primary-color);
}

.we-offer-area .item {
  background: var(--white-color) none repeat scroll 0 0;
  border-left: 2px solid var(--primary-color);
  overflow: hidden;
  padding: 30px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.we-offer-area.text-center .item {
  border-radius: 5px;
  background: var(--white-color) none repeat scroll 0 0;
  border: medium none;
  padding: 35px 15px !important;
}

.item i img {
  width: 42px;
  margin: 20px auto 0;
  display: block;
}


.item:hover i img {
  filter: invert(1);
}

.we-offer-area.text-center .item i {
  background: var(--primary-color) none repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: var(--white-color);
  font-size: 40px;
  height: 80px;
  line-height: 80px;
  position: relative;
  text-align: center;
  width: 80px;
  z-index: 1;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  margin-bottom: 25px;
}

.we-offer-area.text-center .item i::after {
  border: 2px solid var(--primary-color);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: "";
  height: 90px;
  left: -5px;
  position: absolute;
  top: -5px;
  width: 90px;
  z-index: -1;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.we-offer-area.item-border-less .item {
  border: medium none;
}

.we-offer-area .our-offer-items.less-carousel .equal-height {
  margin-bottom: 30px;
}

.we-offer-area.item-border-less .item .number {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: 900;
  opacity: 0.1;
  position: absolute;
  right: 30px;
  top: 30px;
}

.our-offer-carousel.center-active .owl-item:nth-child(2n) .item,
.we-offer-area.center-active .single-item:nth-child(2n) .item {
  background: var(--primary-color) none repeat scroll 0 0;
}

.our-offer-carousel.center-active .owl-item:nth-child(2n) .item i,
.our-offer-carousel.center-active .owl-item:nth-child(2n) .item h4,
.our-offer-carousel.center-active .owl-item:nth-child(2n) .item p,
.we-offer-area.center-active .single-item:nth-child(2n) .item i,
.we-offer-area.center-active .single-item:nth-child(2n) .item h4,
.we-offer-area.center-active .single-item:nth-child(2n) .item p {
  color: #ffffff;
}

.we-offer-area .item i {
  color: var(--primary-color);
  display: inline-block;
  font-size: 60px;
  margin-bottom: 20px;
}

.we-offer-area .item h4 {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 20px;
  margin-bottom: 5px;
}

.we-offer-area .item p {
  margin: 10px 0 0;
  font-size: 16px;
  line-height: 25px;
}

.we-offer-area .item i,
.we-offer-area .item h4,
.we-offer-area .item p {
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.we-offer-area .item::after {
  background: var(--primary-color) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: -100%;
  position: absolute;
  top: 0;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  width: 100%;
  z-index: -1;
}

.we-offer-area .item:hover::after {
  left: 0;
}

.we-offer-area .item:hover i,
.we-offer-area .item:hover h4,
.we-offer-area .item:hover p {
  color: var(--white-color) !important;
}

.we-offer-area.text-center .item:hover i::after {
  border-color: var(--white-color) !important;
}

.we-offer-area.text-center .item:hover i {
  background-color: var(--white-color) !important;
  color: var(--primary-color) !important;
}

.we-offer-area.text-center .item:hover i img {
  filter: invert(1);
}

.we-offer-area.text-left .item i {
  background: var(--primary-color) none repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: var(--white-color);
  display: inline-block;
  font-size: 60px;
  height: 100px;
  line-height: 100px;
  margin-bottom: 30px;
  position: relative;
  width: 100px;
  z-index: 1;
  text-align: center;
}

.we-offer-area.text-left .item i::after {
  border: 2px solid var(--primary-color);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: "";
  height: 120px;
  left: -10px;
  position: absolute;
  top: -10px;
  width: 120px;
}

/* service section style end */
/* education section style start */

.education-sec {
  padding-top: var(--pt);
  padding-bottom: var(--pb);
  background-color: var(--grey-color);
}

.education-sec .site-heading h2 {
  color: var(--black-color);
}

.education-sec .site-heading h4 {
  color: var(--black-color);
  font-weight: 500;
  font-size: 15px;
}

/* // VERTICAL TIMELINE // */
/* The actual timeline (the vertical ruler) */
.timeline {
  box-sizing: border-box;
  position: relative;
  max-width: 1200px;
  margin: 50px auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: var(--black-color);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  border-radius: 5px;
}

/* Container around content */
.timeline-container {
  box-sizing: border-box;
  padding: 10px 50px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.timeline-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -12px;
  background-color: var(--white-color);
  border: 4px solid var(--primary-color);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.timeline-left {
  left: 0;
}

/* Place the container to the right */
.timeline-right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.timeline-left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 41px;
  border: medium solid var(--black-color);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--white-color);
}

/* Add arrows to the right container (pointing left) */
.timeline-right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 41px;
  border: medium solid var(--white-color);
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--white-color) transparent transparent;
}

/* Fix the circle for containers on the right side */
.timeline-right::after {
  left: -12px;
}

/* The actual content */
.timeline-content {
  padding:15px 15px 30px;
  background-color: var(--white-color);
  position: relative;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* Style copy */
.timeline-date {
  color: var(--primary-color);
  font-weight: bold;
}

.timeline-copy {
  color: var(--black-color) !important;
  font-size: 16px;
  line-height: 22px;
}
.education-image {
  position: absolute;
  right: 15px;
  bottom: -11px;
  opacity: 0.1;
}
.education-image img {
  width: 50px;
  height: 40px;
  margin-bottom: 10px;
  display: block;
}
/* // VERTICAL TIMELINE END // */
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  font-size: 20px !important;
}

.education-sec .service-title::after {
  top: 64px;
}

.education-paerent {
  background: var(--white);
  margin: 70px auto 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 35px 40px;
}

.owl-stage-outer {
  margin: -15px;
  padding: 15px;
}

.education-cont {
  max-width: 1200px;
  margin: 0 auto;
}


.education-content strong {
  text-transform: capitalize;
  color: var(--black);
  font-size: 17px;
  display: block;
  padding-bottom: 10px;
}

.education-content p {
  text-transform: capitalize;
  color: var(--black);
  font-size: 17px;
  display: block;
  padding-bottom: 15px;
}

.education-content span {
  text-transform: capitalize;
  color: var(--yellow);
  font-size: 16px;
  display: block;
  padding-bottom: 15px;
  font-weight: 500;
}

.education-cont .owl-nav {
  padding: 40px 0 0;
  text-align: center;
  display: flex;
  column-gap: 20px;
  justify-content: center;
}

.education-cont button.owl-prev {
  background-color: var(--white);
  height: 35px;
  width: 45px;
  border: 1.5px solid #cecece !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.education-cont button.owl-next {
  background-color: var(--white);
  height: 35px;
  width: 45px;
  border: 1.5px solid #cecece !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.education-cont button.owl-next:hover {
  background-color: var(--yellow);
  border: 1.5px solid var(--white) !important;
  color: var(--white) !important;
}

.education-cont button.owl-prev:hover {
  background-color: var(--yellow);
  border: 1.5px solid var(--white) !important;
  color: var(--white) !important;
}

.education-cont button .owl-next span {
  display: block;
  font-size: 16px;
}

/* education section style end */
/* contact us page style start */
.contact-sec {
  padding: 470px 0 70px;
  background-color: var(--white-color);
}

.contact-sec .site-heading h2 {
  color: var(--black-color);
}

.contact-sec h4 {
  color: var(--black-color);
  font-weight: 500;
  font-size: 15px;
}

.call-from-expert-form .form-control {
  display: block;
  width: 100%;
  height: 45px;
  padding: 10px 10px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--black-color);
  font-size: 16px !important;
  background: transparent;
  background-clip: padding-box;
  border: 1.5px solid var(--black-color);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.call-from-expert-form textarea {
  height: 100px !important;
}

.cont-form label {
  margin-bottom: 5px;
  color: var(--black-color);
}

.call-from-expert-form .form-group {
  margin-bottom: 25px;
}

.call-from-expert-form .contact-us-btn .btn-form {
  position: relative;
  width: 200px;
  height: 48px;
  text-align: center;
  background: var(--primary-color);
  margin: 0px;
  text-transform: inherit;
  line-height: 44px;
  color: var(--white-color);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  overflow: hidden;
  border: 1px solid var(--black);
  align-items: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transiton: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  margin-right: 0px;
  z-index: 1;
  margin: 30px 0 0px;
}

.call-from-expert-form .contact-us-btn .btn-form:hover {
  background-color: transparent;
  box-shadow: var(--box-shadow);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}

.location-mail {
  padding-left: 15%;
  margin-top: 25px;
}

.location-mail li {
  padding-bottom: 25px;
}

.location-with-text {
  display: flex;
  align-items: center;
  column-gap: 25px;
}

/* .image-with-circle-animated {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  outline: 4px solid rgba(240, 195, 15, 0.8);
  outline-offset: 0px;
} */

.pulse {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  background-color: var(--primary-color);
  outline-offset: 0px;
  animation: animate-pulse 3s linear infinite;

}

@keyframes animate-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(48, 43, 49, 0.7), 0 0 0 0 rgba(48, 43, 49, 0.7);
  }

  40% {
    box-shadow: 0 0 0 10px rgba(255, 109, 74, 0.0), 0 0 0 0 rgba(48, 43, 49, 0.7);
  }
}

.image-with-circle-animated img {
  width: 27px;
  height: 25px;
  filter: invert(1);
  -webkit-filter: invert(1);
}

.image-with-circle-animated img.call-image {
  width: 20px;
  height: 20px;
}

.image-with-circle-animated img.email-image {
  width: 20px;
  height: 20px;
}

.contact-text a {
  color: var(--black);
  display: block;
  line-height: 22px;
  font-size: 16px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.contact-text address {
  font-size: 16px;
  line-height: 1.3em;
  max-width: 200px;
}

.contact-text a:hover {
  font-weight: 500;
}

/* contact us page style end */

/* Preloader */


.container-preloader .animation-preloader {
  position: absolute;
  z-index: 111;
  background-color: var(--white-color);
  align-items: center;
  cursor: none;
  display: flex;
  height: 100%;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1111;
}

/* Spinner Loading */
.container-preloader .animation-preloader .spinner {
  animation: spinner 1s infinite linear;
  border-radius: 50%;
  background-color: var(--primary-color);
  height: 50px;
  margin: 0 auto 3.5em auto;
  width: 50px;
}


/* Fade effect on loading animation */

.loaded .animation-preloader {
  opacity: 0;
  transition: 0.3s ease-out;
}

/* Curtain effect */
.loaded .loader-section.section-left {
  opacity: 0;
}

.loaded .loader-section.section-right {
  opacity: 1;
}


.loader1 {
  display: inline-block;
  font-size: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.loader1 span {
  vertical-align: middle;
  border-radius: 100%;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 3px 2px;
  -webkit-animation: loader1 0.8s linear infinite alternate;
  animation: loader1 0.8s linear infinite alternate;
}

.loader1 span:nth-child(1) {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  background: var(--purple-color);
}

.loader1 span:nth-child(2) {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
  background: var(--purple-color);
}

.loader1 span:nth-child(3) {
  -webkit-animation-delay: -0.26666s;
  animation-delay: -0.26666s;
  background: var(--purple-color);
}

.loader1 span:nth-child(4) {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
  background: var(--purple-color);

}

.loader1 span:nth-child(5) {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  background: var(--purple-color);
}

@keyframes loader1 {
  from {
    transform: scale(0, 0);
  }

  to {
    transform: scale(1, 1);
  }
}

@-webkit-keyframes loader1 {
  from {
    -webkit-transform: scale(0, 0);
  }

  to {
    -webkit-transform: scale(1, 1);
  }
}


/* text animation  */
.text1 {
  color: var(--purple-color);
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: 20px;
  position: relative;
  animation-name: text;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes text {
  0% {
    color: var(--primary-color);
    margin-bottom: -40px;
  }

  30% {
    letter-spacing: 5px;
    margin-bottom: -40px;
  }

  85% {
    letter-spacing: 8px;
    margin-bottom: -40px;
  }

  100% {
    margin-bottom: 12px;
  }
}



.origin {
  text-decoration: none;
  font-size: 45px;
}





/* skil design start style */
.skill-section-main {
  float: left;
  padding: 0;
  overflow: hidden;
  background: var(--black-color);
  position: relative;
  width: 100%;
  padding: 50px 0;
  height: 410px;
}

.skill-section-main canvas {
  width: 100%;
  min-height: 200px;
}

.skill-section-content {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  padding: 50px 0;
}

.skill-section-content .owl-nav {
  display: none;
}

.skill-section-content .owl-dots {
  display: none;
}

/* skills design end style */

.common-title h5 {
  color: var(--white-color);
  text-transform: capitalize;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
}

.skill-section-content .common-title p {
  color: var(--white-color);
  font-weight: 100;
}

.common-title h5 span {
  color: var(--primary-color);
}

.skill-section-content .common-title {
  margin-bottom: 30px;
}

.main-skill-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: calc(100% - 46px);
  height: calc(100% - 46px);
  border-radius: 50%;
  background-color: var(--white-color);
  box-shadow: 0 0 5px 3px var(--purple-color);
}

.box::before {
  position: absolute;
  content: '';
  width: calc(100% + 28px);
  height: calc(100% + 28px);
  border-radius: 50%;
  border: 1px solid var(--white-color);
}

.box .number span {
  color: var(--black-color);
}

.box .number .num {
  font-size: 26px;
  font-weight: bold;
}

.box .number .sub {
  font-size: 20px;
}

.box .title {
  font-size: 16px;
  margin-top: 3px;
  line-height: 20px;
  margin: 5px auto 0;
  text-align: center;
  font-weight: 500;
  color: var(--primary-color);
}

.dots {
  display: block;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: 2s transform, 2s opacity ease;
}

.dots::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  top: 5px;
  left: 50%;
  border-radius: 50%;
  background-color: var(--white-color);
  box-shadow: 0 0 5px 3px var(--purple-color);
  transform: translateX(-50%);
}

.svg {
  position: absolute;
  width: 100%;
  height: 100%;
  fill: none;
  transform: rotate(-90deg);
}

.circle {
  stroke: url(#gradientStyle);
  stroke-width: 4px;
  stroke-dasharray: 503;
  stroke-dashoffset: 503;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  transition: 2s stroke-dashoffset;
}


/* foter style start */
footer {
  background-color: var(--black-color);
  color: var(--white-color);
  padding: 20px 0;
  text-align: right;
}

.copyright-content h6 {
  color: var(--white-color);
  font-size: 16px;
  padding: 10px 0;
}

.copyright-content h6 a {
  color: var(--primary-color);
  font-weight: bol;
}

.footer-social {
  display: flex;
  justify-content: flex-start;
}

.social-icon ul {
  display: flex;
}

.footer-social .social-icon ul li {
  height: 45px;
  width: 45px;
}

.social-icon ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: var(--primary-color);
  transition: all 0.4s ease-in-out;
  border: 1.5px solid transparent;
  transform: translateY(0);
  margin: 0 5px;
}

.social-icon ul li:hover {
  background-color: var(--purple-color);
  transform: translateY(-4px);
}

.social-icon ul li img {
  display: block;
  transition: all 0.4s ease-in-out;
  width: 20px;
}

/* scrolling style */
#scroll {
  position: fixed;
  right: 10px;
  bottom: 80px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #DC479C;
  text-indent: -9999px;
  display: none;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  z-index: 999999;
}
#scroll span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #ffffff;
}
